@font-face {
    font-family: 'Agbalumo';
    src: local('Agbalumo'), 
         url('../Fonts/Agbalumo-Regular.ttf') format('truetype');
      
    font-weight: normal;
    font-style: normal;
  }
  
.hero {
    background-color: var(--overlay); /* Assuming --overlay is defined elsewhere */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero:before {
    content: '';
    background: url('../Images/downoad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.log{
    display:block;
        width:30rem;
        margin:0 auto;
}

.heroContent{
    padding-top:6rem;
    display:flex;
    flex-direction: column;
 
}
.HeroContainer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: white;
  
    width: 100%;
    margin: 0px auto;
    padding: 20px; /* Added padding for better spacing */
 
    border-radius: 5%;
}
.HeroContainer a  {
margin:0 5vh;
    
    
}
.HeroContainer a:hover {
    cursor: pointer;
    
    
}


.Name {
 
    border-bottom: double 5px white;
    margin: 0;
    font-size: 6rem; /* Large font for name */
    font-family:Verdana, Geneva, Tahoma, sans-serif; /* Optional: Change to your desired font */
    padding-bottom: 10px; /* Spacing below the name */
    font-family:Georgia, 'Times New Roman', Times, serif
}



.scheduleParent {
   

    padding:   2vh;
   
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
 
}

.schedule{
    background-color: black;
    border: white 2px solid;
    opacity: 60%;
height: fit-content;
border-radius: 20%;
}

.h{
    padding: 0 5vh;
    font-size: 1.5 rem;
}

 

.uber-eats-button {
    background-color: #05A357; /* Uber Eats primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    height:fit-content;
    width:50vh;
    margin: 20px auto;

}

.uber-eats-button:hover {
    background-color: #048C47;
}

@media (max-width: 800px) {
    .Name {
        font-size: 2.5rem; /* Smaller font size for smaller screens */
    }

  
     .Address, .h {
         
        padding:5px;
        margin:5px;
    }
    .HeroContainer {
        width: 90%; /* More width for better layout on smaller screens */
        flex-direction: column;
    }
    .uber-eats-button {
        width: 30vh;
        font-size: 1.5rem;
    }
    .log{
        width: 15rem
    }

    .number {
 
        padding:5rem  0rem;
        margin:0;
    }

    .schedule{
        height:fit-content;
        width:fit-content;

    }
}
