    
/* Reviews.css */
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.animate {
    animation: fadeInOut 1s ease-in-out;
}
.ReviewsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    padding: 0vh;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width:80%;
    
    margin: 0 auto;
    height: 200px;     /* Fixed height */
    opacity: 90%;
}

.ReviewsContainer button {
    background-color: #4285f4;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 0 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ReviewsContainer button:hover {
    background-color: #357ae8;
}

.ReviewText {
    text-align: center;
    color: #333;
    font-size: 16px;
    margin: 0 20px;
    overflow: auto;
    max-height: 200px;
    width: 100%;
font-weight: bold;
overflow: auto;  /* Enables scrolling for overflowing content */

 
}

.ReviewAuthor {
    margin-top: 10px;
    color: #777;
    font-style: italic;
    font-size: 14px;
}

.Rating .fa-star {
    color: yellow;
}

@media(max-width: 500px) {
    .ReviewsContainer {
        
 
        padding: 0vh;
 
  
    }
    .ReviewText {
 
        padding: 0vh;
        margin:0vh;
  
    }

    .ReviewsContainer button {
        background-color: #4285f4;
        border: none;
        color: white;
        padding: 10px 15px;
 
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}